In [1]:
from fastai.structured import *
from fastai.column_data import *

In [2]:
PATH = 'data/sales'

In [3]:
# df_raw = pd.read_csv(f'{PATH}/sales_train_v2.csv', parse_dates=['date'])
df_raw = pd.read_csv(f'{PATH}/sales_train_v2.csv')

In [4]:
df_raw.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day'],
      dtype='object')

In [6]:
def calc(df):
    df['item_cnt_month'] = df['item_cnt_day'].sum()
    return df

df_raw = df_raw.groupby(['shop_id', 'item_id', 'date_block_num']).apply(calc)

In [8]:
df_raw.to_feather(f'{PATH}/train_raw')

In [9]:
df_raw.tail().T

                   2935844     2935845     2935846     2935847     2935848
date            10.10.2015  09.10.2015  14.10.2015  22.10.2015  03.10.2015
date_block_num          33          33          33          33          33
shop_id                 25          25          25          25          25
item_id               7409        7460        7459        7440        7460
item_price             299         299         349         299         299
item_cnt_day             1           1           1           1           1
item_cnt_month           3           3           1           1           3

In [13]:
df_cat = pd.read_csv(f'{PATH}/item_categories.csv')

In [14]:
df_test = pd.read_csv(f'{PATH}/test.csv')

In [15]:
df_cat.tail().T

,79,80,81,82,83
item_category_name,Служебные,Служебные - Билеты,Чистые носители (шпиль),Чистые носители (штучные),Элементы питания
item_category_id,79,80,81,82,83

In [16]:
df_item = pd.read_csv(f'{PATH}/items.csv')

In [17]:
df_item.tail().T

,22165,22166,22167,22168,22169
item_name,"Ядерный титбит 2 [PC, Цифровая версия]",Язык запросов 1С:Предприятия [Цифровая версия],Язык запросов 1С:Предприятия 8 (+CD). Хрустале...,Яйцо для Little Inu,Яйцо дракона (Игра престолов)
item_id,22165,22166,22167,22168,22169
item_category_id,31,54,49,62,69

In [18]:
df_raw = df_raw.merge(df_item, on='item_id')

In [19]:
df_raw.tail().T

,2935844,2935845,2935846,2935847,2935848
date,17.10.2015,01.10.2015,29.10.2015,22.10.2015,01.10.2015
date_block_num,33,33,33,33,33
shop_id,25,25,25,25,25
item_id,8428,7903,7610,7635,7640
item_price,249,12198,2890,2100,4040
item_cnt_day,1,1,1,1,1
item_cnt_month,1,1,1,1,1
item_name,"АХ, ВОДЕВИЛЬ, ВОДЕВИЛЬ (rem)",XBOX 360 S 250GB CONSOLE/KINECT BUNDLE KUNG FU...,WARHAMMER ACCESSORIES: Khorne Dice арт. 65-13,WARHAMMER MINIATURES: Dark Elf Doomfire Warloc...,WARHAMMER MINIATURES: Stormcast Eternals Palad...
item_category_id,40,15,64,64,64

In [26]:
df_raw = df_raw.sort_index(by='date_block_num')

d:\anaconda3\envs\fastai-cpu\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

In [38]:
df_raw.tail().T

,2705246,2705245,2704956,2705250,2935848
date,28.10.2015,18.10.2015,10.10.2015,04.10.2015,01.10.2015
date_block_num,33,33,33,33,33
shop_id,42,42,6,39,25
item_id,7724,7724,8187,7724,7640
item_price,1498,1899,7549,1899,4040
item_cnt_day,1,1,1,1,1
item_cnt_month,3,3,1,1,1
item_name,"WWE 2K15 [PS4, русская документация]","WWE 2K15 [PS4, русская документация]",АКВАРИУМ Собрание естественных альбомов 6 5LP,"WWE 2K15 [PS4, русская документация]",WARHAMMER MINIATURES: Stormcast Eternals Palad...
item_category_id,20,20,58,20,64

In [39]:
df_raw = df_raw.drop(['date', 'item_cnt_day', 'item_name'], axis=1)

In [42]:
df_raw.tail().T

                  2705246  2705245  2704956  2705250  2935848
date_block_num       33.0     33.0     33.0     33.0     33.0
shop_id              42.0     42.0      6.0     39.0     25.0
item_id            7724.0   7724.0   8187.0   7724.0   7640.0
item_price         1498.0   1899.0   7549.0   1899.0   4040.0
item_cnt_month        3.0      3.0      1.0      1.0      1.0
item_category_id     20.0     20.0     58.0     20.0     64.0

In [43]:
df_raw = df_raw.drop(['item_price'], axis=1)

In [45]:
len(df_raw), len(df_raw.drop_duplicates())

(2935849, 1609124)

In [46]:
df_raw.drop_duplicates(inplace=True)

In [47]:
len(df_raw)

1609124

In [55]:
df_raw.drop('index', axis=1)

         date_block_num  shop_id  item_id  item_cnt_month  item_category_id
0                     0       59    22154             1.0                37
1                     0       45     5822            16.0                35
2                     0       46     5822             3.0                35
3                     0       25    18417             1.0                55
4                     0       21    18417             1.0                55
5                     0       19    18417             1.0                55
6                     0       51    18413             1.0                55
7                     0       42    18413             1.0                55
8                     0        0    18413             2.0                55
9                     0       19    18413             1.0                55
10                    0       46    18406             3.0                55
11                    0       37    18406             5.0                55
12                    0       38    18406             1.0                55
13                    0       37     5822             9.0                35
14                    0       38     5822             7.0                35
15                    0       42     5822            18.0                35
16                    0       50    18406             1.0                55
17                    0       56    18406             1.0                55
18                    0       37    18364             1.0                55
19                    0       51    18364             1.0                55
20                    0       47    18364             1.0                55
21                    0       53    18364             1.0                55
22                    0       29    18364             3.0                55
23                    0       30    18364             1.0                55
24                    0       13    18364             1.0                55
25                    0       46    18364             1.0                55
26                    0       14    18364             1.0                55
27                    0        7    18364             2.0                55
28                    0       18    18364             1.0                55
29                    0       15    18364             1.0                55
...                 ...      ...      ...             ...               ...
1609094              33       50     8008             1.0                55
1609095              33       57     8008             1.0                55
1609096              33       41     8008             1.0                55
1609097              33       25    10131             1.0                55
1609098              33       24    10131             1.0                55
1609099              33       31    10131             1.0                55
1609100              33       18     8008             1.0                55
1609101              33       28    10131             1.0                55
1609102              33        6    10131             1.0                55
1609103              33        4    10131             1.0                55
1609104              33       19    10131             1.0                55
1609105              33       15    10131             1.0                55
1609106              33       35    10131             1.0                55
1609107              33       41    10131             1.0                55
1609108              33        7    10131             1.0                55
1609109              33        3     7724             1.0                20
1609110              33       28     8008             1.0                55
1609111              33       25     8008             2.0                55
1609112              33       14     7724             1.0                20
1609113              33       52     7724             1.0                20
1609114              33       47     7724             1.0                20
1609115              33       49     7724             1.0                20
1609116              33       57     7724             1.0                20
1609117              33       35     7724             2.0                20
1609118              33       38     7724             1.0                20
1609119              33       34     7724             1.0                20
1609120              33       42     7724             3.0                20
1609121              33        6     8187             1.0                58
1609122              33       39     7724             1.0                20
1609123              33       25     7640             1.0                64

[1609124 rows x 5 columns]

In [57]:
df_raw.sort_index(by='date_block_num', ascending=False)

d:\anaconda3\envs\fastai-cpu\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

,index,date_block_num,shop_id,item_id,item_cnt_month,item_category_id
1609123,2935848,33,25,7640,1.0,64
1588093,2137669,33,10,5655,2.0,3
1588095,795948,33,15,11575,1.0,37
1588096,794859,33,57,11830,2.0,57
1588097,795936,33,45,11575,1.0,37
1588098,795937,33,44,11575,1.0,37
1588099,795938,33,42,11575,4.0,37
1588100,795949,33,12,11575,1.0,37
1588101,795942,33,39,11575,1.0,37
1588102,795943,33,35,11575,2.0,37
1588103,795945,33,57,11575,1.0,37
1588104,795946,33,47,11575,1.0,37
1588105,795947,33,50,11575,1.0,37
1588106,2137672,33,28,5655,2.0,3
1588107,789798,33,59,6342,1.0,55
1588108,789797,33,37,6342,1.0,55
1588109,789796,33,42,6342,1.0,55
1588110,789795,33,44,6342,1.0,55
1588111,789794,33,46,6342,1.0,55
1588112,787852,33,53,6911,1.0,21
1588113,2140864,33,46,5669,3.0,3
1588114,2140867,33,41,5669,1.0,3
1588115,2140868,33,42,5669,1.0,3
1588116,2140869,33,35,5669,1.0,3
1588117,2140870,33,34,5669,1.0,3
1588118,2140871,33,38,5669,1.0,3
1588119,2140872,33,37,5669,1.0,3
1588120,2140873,33,36,5669,1.0,3
1588121,2140874,33,56,5669,1.0,3
1588094,795950,33,4,11575,1.0,37
...,...,...,...,...,...,...
42139,656837,0,28,17173,2.0,37
42140,656835,0,19,17173,1.0,37
42155,656798,0,54,17236,1.0,37
42167,306548,0,53,4092,1.0,55
42166,306547,0,47,4092,1.0,55
42165,656842,0,46,17173,1.0,37
42164,306543,0,54,4092,4.0,55
42163,306542,0,59,4092,1.0,55
42162,306540,0,56,4092,2.0,55
42161,306538,0,30,4092,3.0,55
42160,306536,0,31,4092,2.0,55
42159,306535,0,14,4092,1.0,55
42158,656904,0,25,17172,1.0,40
42157,656841,0,42,17173,1.0,37
42156,656720,0,30,17222,1.0,55
42154,656721,0,31,17222,1.0,55
42141,656834,0,25,17173,1.0,37
42153,656722,0,54,17222,1.0,55
42152,656723,0,42,17222,1.0,55
42151,656724,0,50,17222,1.0,55
42150,656725,0,51,17222,1.0,55
42149,656726,0,44,17222,1.0,55
42148,656795,0,25,17236,1.0,37
42147,656796,0,28,17236,1.0,37
42146,656797,0,31,17236,1.0,37
42145,656799,0,52,17236,1.0,37
42144,656800,0,41,17236,1.0,37
42143,656828,0,25,17238,1.0,40
42142,656829,0,30,17238,1.0,40
0,0,0,59,22154,1.0,37

In [58]:
df = pd.read_feather(f'{PATH}/train_raw')

In [59]:
df.tail().T

                   2935844     2935845     2935846     2935847     2935848
date            10.10.2015  09.10.2015  14.10.2015  22.10.2015  03.10.2015
date_block_num          33          33          33          33          33
shop_id                 25          25          25          25          25
item_id               7409        7460        7459        7440        7460
item_price             299         299         349         299         299
item_cnt_day             1           1           1           1           1
item_cnt_month           3           3           1           1           3

In [61]:
df.to_csv(f'{PATH}/train_raw.csv', index=False)

In [62]:
df = pd.read_csv(f'{PATH}/train_raw.csv', parse_dates=['date'])

In [68]:
df.to_feather(f'{PATH}/train_raw')

In [81]:
df = pd.read_feather(f'{PATH}/train_raw')

In [82]:
df_raw = df[df.date < '2015-11-01'].copy()

In [83]:
df_raw = df_raw.sort_index(by='date')

d:\anaconda3\envs\fastai-cpu\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

In [84]:
df_raw = df_raw.merge(df_item, on='item_id')

In [87]:
df_raw.tail().T

,2896777,2896778,2896779,2896780,2896781
date,2015-10-31 00:00:00,2015-10-31 00:00:00,2015-10-31 00:00:00,2015-10-31 00:00:00,2015-10-31 00:00:00
date_block_num,33,33,33,33,33
shop_id,25,55,6,6,31
item_id,21194,229,9826,11905,10935
item_price,1899,80,1549,2649,199
item_cnt_day,1,1,1,1,1
item_cnt_month,1,1,1,1,1
item_name,Футболка Payday 2 Rock On L,1С:Аудиокниги. Детям от 0 до 5 лет. Кэрролл Л....,ВЕСЁЛЫЕ РЕБЯТА Напиши мне письмо... LP,ИВАНОВ АЛЕКСАНДР Грешной души печаль 2LP,ДЕТЯМ Ударцев Виктор Новогодняя дискотека
item_category_id,61,44,58,58,55

In [90]:
add_datepart(df_raw, 'date')

In [93]:
df_raw.tail().T

                     2896777     2896778     2896779     2896780     2896781
shop_id                   25          55           6           6          31
item_id                21194         229        9826       11905       10935
item_price              1899          80        1549        2649         199
item_cnt_day               1           1           1           1           1
item_cnt_month             1           1           1           1           1
item_category_id          61          44          58          58          55
Year                    2015        2015        2015        2015        2015
Month                     10          10          10          10          10
Week                      44          44          44          44          44
Day                       31          31          31          31          31
Dayofweek                  5           5           5           5           5
Dayofyear                304         304         304         304         304
Is_month_end            True        True        True        True        True
Is_month_start         False       False       False       False       False
Is_quarter_end         False       False       False       False       False
Is_quarter_start       False       False       False       False       False
Is_year_end            False       False       False       False       False
Is_year_start          False       False       False       False       False
Elapsed           1446249600  1446249600  1446249600  1446249600  1446249600

In [92]:
df_raw = df_raw.drop(['date_block_num', 'item_name'], axis=1)

In [97]:
df_raw.T

,0,1,2,3,4,5,6,7,8,9,...,2896772,2896773,2896774,2896775,2896776,2896777,2896778,2896779,2896780,2896781
shop_id,46,28,57,44,31,31,25,44,28,18,...,6,5,55,22,22,25,55,6,6,31
item_id,18616,18616,18616,18616,18616,18616,18616,18616,18616,18616,...,7136,18723,6663,489,487,21194,229,9826,11905,10935
item_price,349,349,349,349,349,349,349,349,349,349,...,3599,549,999,229,229,1899,80,1549,2649,199
item_cnt_day,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
item_cnt_month,1,2,1,2,3,3,2,2,2,1,...,1,1,1,1,1,1,1,1,1,1
item_category_id,40,40,40,40,40,40,40,40,40,40,...,24,40,31,77,77,61,44,58,58,55
Year,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,...,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015
Month,1,1,1,1,1,1,1,1,1,1,...,10,10,10,10,10,10,10,10,10,10
Week,1,1,1,2,2,3,3,3,3,3,...,44,44,44,44,44,44,44,44,44,44
Day,1,1,3,13,13,15,15,16,18,19,...,31,31,31,31,31,31,31,31,31,31
Dayofweek,1,1,3,6,6,1,1,2,4,5,...,5,5,5,5,5,5,5,5,5,5
Dayofyear,1,1,3,13,13,15,15,16,18,19,...,304,304,304,304,304,304,304,304,304,304
Is_month_end,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
Is_month_start,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Is_quarter_end,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Is_quarter_start,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Is_year_end,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Is_year_start,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Elapsed,1356998400,1356998400,1357171200,1358035200,1358035200,1358208000,1358208000,1358294400,1358467200,1358553600,...,1446249600,1446249600,1446249600,1446249600,1446249600,1446249600,1446249600,1446249600,1446249600,1446249600

In [98]:
df_raw.columns

Index(['shop_id', 'item_id', 'item_price', 'item_cnt_day', 'item_cnt_month',
       'item_category_id', 'Year', 'Month', 'Week', 'Day', 'Dayofweek',
       'Dayofyear', 'Is_month_end', 'Is_month_start', 'Is_quarter_end',
       'Is_quarter_start', 'Is_year_end', 'Is_year_start', 'Elapsed'],
      dtype='object')

In [100]:
train = df_raw[['shop_id', 'item_id', 'item_cnt_month', 'item_category_id', 'Year', 'Month']]

In [101]:
train.drop_duplicates(inplace=True)

d:\anaconda3\envs\fastai-cpu\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [102]:
train

         shop_id  item_id  item_cnt_month  item_category_id  Year  Month
0             46    18616             1.0                40  2013      1
1             28    18616             2.0                40  2013      1
2             57    18616             1.0                40  2013      1
3             44    18616             2.0                40  2013      1
4             31    18616             3.0                40  2013      1
6             25    18616             2.0                40  2013      1
9             18    18616             1.0                40  2013      1
10            42    18616             2.0                40  2013      1
11            13    18616             1.0                40  2013      1
12             1    18616             1.0                40  2013      1
13            14    18616             1.0                40  2013      1
15            41    18616             1.0                40  2013      2
16            25    18616             2.0                40  2013      2
17            54    18616             2.0                40  2013      2
18            31    18616             1.0                40  2013      2
19            30    18616             1.0                40  2013      2
20             0    18616             1.0                40  2013      2
21            15    18616             1.0                40  2013      2
22            35    18616             1.0                40  2013      2
24            26    18616             1.0                40  2013      2
25            54    18616             1.0                40  2013      2
26             4    18616             1.0                40  2013      2
27            25    18616             1.0                40  2013      2
28            50    18616             1.0                40  2013      2
29            54    18616             2.0                40  2013      3
30            56    18616             1.0                40  2013      3
31            31    18616             1.0                40  2013      3
32            54    18616             1.0                40  2013      3
33            30    18616             1.0                40  2013      3
34            45    18616             1.0                40  2013      3
...          ...      ...             ...               ...   ...    ...
2896751       35    19655             3.0                40  2015     10
2896752       19     8864             1.0                55  2015     10
2896753       22     3759             1.0                20  2015     10
2896754       38    19204             2.0                40  2015     10
2896755       21    19204             1.0                40  2015     10
2896756       28    19204             1.0                40  2015     10
2896757       16    19204             1.0                40  2015     10
2896758       19    19204             1.0                40  2015     10
2896759       24    19204             1.0                40  2015     10
2896760       31    19204             2.0                40  2015     10
2896762       31     5959             1.0                58  2015     10
2896763       25      930             1.0                77  2015     10
2896764       25      315             1.0                45  2015     10
2896765       21    16093             1.0                64  2015     10
2896766       21    15889             1.0                69  2015     10
2896767       31    19552             2.0                40  2015     10
2896768       21    19552             1.0                40  2015     10
2896769       25    19552             1.0                40  2015     10
2896770       59    15411             1.0                63  2015     10
2896771       31    15411             3.0                63  2015     10
2896772        6     7136             1.0                24  2015     10
2896773        5    18723             1.0                40  2015     10
2896774       55     6663             1.0                31  2015     10
2896775       22      489             1.0                77  2015     10
2896776       22      487             1.0                77  2015     10
2896777       25    21194             1.0                61  2015     10
2896778       55      229             1.0                44  2015     10
2896779        6     9826             1.0                58  2015     10
2896780        6    11905             1.0                58  2015     10
2896781       31    10935             1.0                55  2015     10

[2099147 rows x 6 columns]

In [104]:
df_test = pd.read_csv(f'{PATH}/test.csv')

In [105]:
df_test.tail().T

         214195  214196  214197  214198  214199
ID       214195  214196  214197  214198  214199
shop_id      45      45      45      45      45
item_id   18454   16188   15757   19648     969

In [111]:
df_test['Year'] = 2015
df_test['Month'] = 11

In [117]:
test_df = df_test.merge(df_item, on='item_id').drop('item_name', axis=1)

In [118]:
test_df

            ID  shop_id  item_id  Year  Month  item_category_id
0            0        5     5037  2015     11                19
1         5100        4     5037  2015     11                19
2        10200        6     5037  2015     11                19
3        15300        3     5037  2015     11                19
4        20400        2     5037  2015     11                19
5        25500        7     5037  2015     11                19
6        30600       10     5037  2015     11                19
7        35700       12     5037  2015     11                19
8        40800       28     5037  2015     11                19
9        45900       31     5037  2015     11                19
10       51000       26     5037  2015     11                19
11       56100       25     5037  2015     11                19
12       61200       22     5037  2015     11                19
13       66300       24     5037  2015     11                19
14       71400       21     5037  2015     11                19
15       76500       15     5037  2015     11                19
16       81600       16     5037  2015     11                19
17       86700       18     5037  2015     11                19
18       91800       14     5037  2015     11                19
19       96900       19     5037  2015     11                19
20      102000       42     5037  2015     11                19
21      107100       50     5037  2015     11                19
22      112200       49     5037  2015     11                19
23      117300       53     5037  2015     11                19
24      122400       52     5037  2015     11                19
25      127500       47     5037  2015     11                19
26      132600       48     5037  2015     11                19
27      137700       57     5037  2015     11                19
28      142800       58     5037  2015     11                19
29      147900       59     5037  2015     11                19
...        ...      ...      ...   ...    ...               ...
214170   66299       22      969  2015     11                37
214171   71399       24      969  2015     11                37
214172   76499       21      969  2015     11                37
214173   81599       15      969  2015     11                37
214174   86699       16      969  2015     11                37
214175   91799       18      969  2015     11                37
214176   96899       14      969  2015     11                37
214177  101999       19      969  2015     11                37
214178  107099       42      969  2015     11                37
214179  112199       50      969  2015     11                37
214180  117299       49      969  2015     11                37
214181  122399       53      969  2015     11                37
214182  127499       52      969  2015     11                37
214183  132599       47      969  2015     11                37
214184  137699       48      969  2015     11                37
214185  142799       57      969  2015     11                37
214186  147899       58      969  2015     11                37
214187  152999       59      969  2015     11                37
214188  158099       55      969  2015     11                37
214189  163199       56      969  2015     11                37
214190  168299       36      969  2015     11                37
214191  173399       37      969  2015     11                37
214192  178499       35      969  2015     11                37
214193  183599       38      969  2015     11                37
214194  188699       34      969  2015     11                37
214195  193799       46      969  2015     11                37
214196  198899       41      969  2015     11                37
214197  203999       44      969  2015     11                37
214198  209099       39      969  2015     11                37
214199  214199       45      969  2015     11                37

[214200 rows x 6 columns]

In [138]:
# n = int(len(train) * 0.01)
n = len(test_df)
train_df, val_df = train[:-n].copy(), train[-n:].copy()

In [139]:
len(train_df), len(val_df), len(test_df)

(1884947, 214200, 214200)

In [130]:
train_df.columns

Index(['shop_id', 'item_id', 'item_cnt_month', 'item_category_id', 'Year',
       'Month'],
      dtype='object')

In [10]:
cat_cols = ['shop_id', 'item_id', 'item_category_id', 'Year', 'Month']
y_col = 'item_cnt_month'

In [132]:
for col in cat_cols:
    train[col] = train[col].astype('category').cat.as_ordered()

d:\anaconda3\envs\fastai-cpu\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [133]:
apply_cats(test_df, train)

In [137]:
train[y_col] = train[y_col].astype('float32')

d:\anaconda3\envs\fastai-cpu\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [160]:
train.reset_index(inplace=True)

In [175]:
train.to_feather(f'{PATH}/train.feat')
train.to_csv(f'{PATH}/train_v3.csv', index=False)
test_df.to_feather(f'{PATH}/test.feat')
test_df.to_csv(f'{PATH}/test_v3.csv', index=False)

In [3]:
train = pd.read_feather(f'{PATH}/train.feat')
test_df = pd.read_feather(f'{PATH}/test.feat')

In [5]:
len(train)

2099147

In [4]:
# n = int(len(train) * 0.01)
n = len(test_df)

val_idxs = train[-n:].index.values
val_idxs

array([1884947, 1884948, 1884949, ..., 2099144, 2099145, 2099146])

In [6]:
df, y, nas = proc_df(train, 'item_cnt_month')

In [7]:
df_test, _, nas = proc_df(test_df, None, skip_flds=['ID'])

In [11]:
md = ColumnarModelData.from_data_frame(PATH, val_idxs, df, y, cat_cols, bs=128, test_df=df_test)

In [12]:
cat_sz = [(col, len(train[col].cat.categories) + 1) for col in cat_cols]

In [13]:
cat_sz

[('shop_id', 61),
 ('item_id', 21784),
 ('item_category_id', 85),
 ('Year', 4),
 ('Month', 13)]

In [14]:
emb_szs = [(c, min(50, (c + 1) // 2)) for _, c in cat_sz]
emb_szs

[(61, 31), (21784, 50), (85, 43), (4, 2), (13, 7)]

In [15]:
y_range = (0, np.max(y) * 1.2)

In [16]:
m = md.get_learner(emb_szs, len(df.columns) - len(cat_cols), 0.04, 1, [1000, 500],
                   [0.001, 0.01], y_range=y_range)

In [19]:
lr = 1e-3

In [20]:
m.lr_find()

HBox(children=(IntProgress(value=0, description='Epoch', max=1), HTML(value='')))

  0%|          | 29/14727 [00:02<24:23, 10.04it/s, loss=7.28e+06]
  0%|          | 31/14727 [00:03<24:35,  9.96it/s, loss=7.28e+06]

Exception in thread Thread-4:
Traceback (most recent call last):
  File "/home/alex/anaconda3/envs/fastai-cpu/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/home/alex/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/tqdm/_monitor.py", line 62, in run
    for instance in self.tqdm_cls._instances:
  File "/home/alex/anaconda3/envs/fastai-cpu/lib/python3.6/_weakrefset.py", line 60, in __iter__
    for itemref in self.data:
RuntimeError: Set changed size during iteration

  1%|          | 126/14727 [00:13<25:50,  9.42it/s, loss=7.28e+06]

KeyboardInterrupt: